<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-7 ">
      <h1>Vos réservations </h1>
    </div>
    <div class="col-2 offset-10">
        <button type="button" class="btn btn-primary" >Réserver un transport</button>
    </div>
  </div>
<br>
  <div class="row">
   
        <button type="button" class="btn btn-outline-primary col-12" style="text-align:left"  (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Covoiturage
        </button>
   
    <div class="card col-12">
        <div class="container">
          <div class="col-12">
            <div id="collapseExample" [ngbCollapse]="isCollapsed">
              <label>Réservations en cours</label>
              <div class="container">
              <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-default">
                          <tr>
                            <th>Date / heure début</th>
                            <th>Date / heure fin</th>
                            <th>Immatriculation</th>
                            <th>Marque</th>
                            <th>Modèle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>1</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="container">
            <div class="col-12">
                <div id="collapseExample" [ngbCollapse]="isCollapsed">
                <label>Historique </label>
                  <div class="container">
                    <div class="card">
                      <div class="card-body">
                          <table class="table">
                              <thead class="thead-default">
                                <tr>
                                  <th>Date / heure début</th>
                                  <th>Date / heure fin</th>
                                  <th>Immatriculation</th>
                                  <th>Marque</th>
                                  <th>Modèle</th></tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Mark</td>
                                  <td>Otto</td>
                                  <td>@mdo</td>
                                  <td>1</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>Jacob</td>
                                  <td>Thornton</td>
                                  <td>@fat</td>
                                  <td>1</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>Larry</td>
                                  <td>the Bird</td>
                                  <td>@twitter</td>
                                  <td>1</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
</div>

<div class="row">
 
      <button type="button" class="btn btn-outline-primary col-12" style="text-align:left" (click)="isCollapsed1 = !isCollapsed1"
              [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
        Véhicule de société
      </button>

<div class="card col-12">
  <div class="container">

    <div class="col-12">
      <div id="collapseExample" [ngbCollapse]="isCollapsed1">
        <label>Réservations en cours</label>
        <div class="container">
        <div class="card">
          <div class="card-body">
              <table class="table">
                  <thead class="thead-default">
                    <tr>
                      <th>Date / heure début</th>
                      <th>Date / heure fin</th>
                      <th>Immatriculation</th>
                      <th>Marque</th>
                      <th>Modèle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="container">
      <div class="col-12">
          <div id="collapseExample" [ngbCollapse]="isCollapsed1">
          <label>Historique </label>
            <div class="container">
              <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-default">
                          <tr>
                            <th>Date / heure début</th>
                            <th>Date / heure fin</th>
                            <th>Immatriculation</th>
                            <th>Marque</th>
                            <th>Modèle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>1</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>


