<app-menu></app-menu>
<div>
  <h1>Vos réservations</h1>
  <button type="button" class="btn btn-primary float-right">Réserver un transport</button>
  <div class="btn btn-outline-primary col-12 text-left" (click)="isCollapsedListeReservation = !isCollapsedListeReservation" [attr.aria-expanded]="!isCollapsedListeReservation"  aria-controls="collapseItineraire" id="collapseButton">
    Covoiturage
  </div>
  <div id="collapseListeReservation" class="border border-primary rounded pr-2 pl-2" [ngbCollapse]="isCollapsedListeReservation">
    <h5 class=" ml-3" >Réservations en cours</h5>
    <table class="table table-striped table-bordered">
      <thead>
        <th>Date / heure de départ</th>
        <th>Départ</th>
        <th>Destination</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let line of listeReservationsAnnoncesCourrantesJSON">
          <td>{{line.dateDepart | jsontoDate | date:"dd/MM/yyyy HH:mm"}}</td>
          <td>{{line.addrDepart}}</td>
          <td>{{line.addrArrivee}}</td>
          <td class="text-center"><button (click)="openModalDetail(line)" type="button" class="btn btn-primary">Détail</button></td>
        </tr>
      </tbody>
    </table>

    <h5 class=" ml-3">Historique</h5>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Date / heure de départ</th>
          <th>Départ</th>
          <th>Destination</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of listeResAnnOnDisplay">
          <td scope="row">{{line.dateDepart | jsontoDate | date:"dd/MM/yyyy HH:mm"}}</td>
          <td>{{line.addrDepart}}</td>
          <td>{{line.addrArrivee}}</td>
          <td class="text-center"><button (click)="openModalDetail(line)" type="button" class="btn btn-primary">Détail</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="listeReservationsAnnoncesHistoriquesJSON.length > nbHistoriqueDisplayed">
      <ngb-pagination [collectionSize]="totalItemsHistorique" [(page)]="currentPageHistorique" [pageSize]="nbHistoriqueDisplayed" (pageChange)="loadHistorique($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>


<!--Modal selection administrateur-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Détail du covoiturage</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <p class="text-right">Départ</p>
      </div>
      <div class="col-6">
        <p class="text-left">{{detailCourant.addrDepart}}</p>
      </div>

      <div class="col-6">
        <p class="text-right">Destination</p>
      </div>
      <div class="col-6">
        <p class="text-left">{{detailCourant.addrArrivee}}</p>
      </div>

      <div class="col-6">
        <p class="text-right">Date/heure</p>
      </div>
      <div class="col-6">
        <p class="text-left">{{detailCourant.dateDepart | jsontoDate | date:"dd/MM/yyyy HH:mm"}}</p>
      </div>

      <div class="col-6">
        <p class="text-right">Véhicule</p>
      </div>
      <div class="col-6">
        <p class="text-left">{{detailCourant.marque}}-{{detailCourant.modele}}-{{detailCourant.immatriculation}}</p>
      </div>

      <div class="col-6">
        <p class="text-right">Chauffeur</p>
      </div>
      <div class="col-6">
        <p class="text-left">{{detailCourant.nomChauffeur}} {{detailCourant.prenomChauffeur}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
