<app-menu></app-menu>
<div class="container">
  <div class="row">
    <h2>Véhicules</h2>
  </div>
  <div class="row">
    <label for="">Filtre</label>
    <div class="container">
      <div class="row ">
        <div class="col-2" style="text-align:right">
          <label for="">Immatriculation</label>
        </div>
        <div>
          <input  class="form-control" style="margin-bottom: 5px" type="text" id="immatriculation" name="immatriculation" (keyup)="onKeyUpImmatriculation($event)">
        </div>
      </div>
      <div class="row" >
        <div class="col-2" style="text-align:right">
          <label for="">Marque</label>
        </div>
        <div>
          <input type="text"  class="form-control" id="marque" name="marque" (keyup)="onKeyUpMarque($event)">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-10">
      <button type="button" class="btn btn-primary "  (click)="open(content)">Ajouter un véhicules</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngFor="let vehicule of ((vehicules|marque:stringMarque)|immatriculation:stringImmatriculation) ">

      <div class="card " style="margin-right: 20px">
        <div class="card-block">
          <div class="container">
            <div class="row">
              <a routerLink="" RouterLinkActive="active-link">
                <img class="img-responsive mx-auto d-block round" src="{{vehicule.photo}}" alt="" height="355rem" width="340rem">
              </a>
            </div>
          </div>
          <div class="card-body" style="text-align:center">
            <div>
              <label for="">{{vehicule.immatriculation}}</label>
            </div>
            <div>
              <label for="">{{vehicule.marque}} - {{vehicule.modele}}</label>
            </div>
            <div>
              <label for="">{{vehicule.categorie}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





  <form name="myForm" ng-submit="foo()" novalidate>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Véhicules</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-4" style="text-align:right">
            <label for="">Immatriculation</label>
          </div>
          <div class="col-6 ">
            <input class="col-3 " type="text" #immatriculation1 name="immatriculation1" (keyup)="onBoolImmatriculation1($event)" required maxlength="2"> -
            <input class="col-4 " type="number" #immatriculation2 name="immatriculation2" (keyup)="onBoolImmatriculation2($event)" required maxlength="3"> -
            <input class="col-3 " type="text" #immatriculation3 name="immatriculation3" (keyup)="onBoolImmatriculation3($event)" required maxlength="2">
          </div>
        </div>
        <div class="row ">
          <div class="col-4" style="text-align:right">
            <label for="">Marque</label>
          </div>
          <div class="col-6">
            <input type="text" class="form-control"  style="margin-bottom: 5px" #marque name="marque" required (keyup)="onBoolMarque($event)">

          </div>
        </div>
        <div class="row ">
          <div class="col-4" style="text-align:right">
            <label for="">Modèle</label>
          </div>
          <div class="col-6">
            <input type="text" class="form-control"  style="margin-bottom: 5px" #modele name="modele" required (keyup)="onBoolModele($event)">

          </div>
        </div>
        <div class="row ">
          <div class="col-4" style="text-align:right">
            <label for="">catégorie</label>
          </div>
          <div class="col-6" >
            <select class="col-12 form-control"  style="margin-bottom: 5px" name="select" #categorie requir>
              <option *ngFor="let categorie of categories " >
                {{categorie}}
              </option>
            </select>

          </div>
        </div>
        <div class="row ">
          <div class="col-4" style="text-align:right">
            <label for="">Nombre de place</label>
          </div>
          <div class="col-6">
            <input type="number" class="form-control"  style="margin-bottom: 5px" #nbp name="nbp" required (keyup)="onBoolNbp($event)">
          </div>
        </div>
        <div class="row ">
          <div class="col-4" style="text-align:right">
            <label for="">Photo</label>
          </div>
          <div class="col-6">
            <input type="text" class="form-control"  style="margin-bottom: 5px" #photo name="photo" required (keyup)="onBoolPhoto($event)">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')" (click)="etatInitial()">Annuller</button>
        <button type="button" class="btn btn-outline-primary" (click)="add(immatriculation1,immatriculation2,immatriculation3 , marque, modele  , categorie , nbp , photo)"
        [disabled]="!( valideImmatriculation1 && valideImmatriculation2 && valideImmatriculation3
        && valideMarque && validePhoto && valideModele && valideNbp)" (click)="etatInitial()" (click)="c('Close click')">Ajouter</button>
      </div>
    </ng-template>
  </form>
