<div>
<h1>Vos annonces</h1>
<button type="button" class="btn btn-primary float-right">Créer une nouvelle annonce</button>
<h5>Annonces en cours</h5>
<table class="table table-striped">
  <thead>
    <th>Date / heure de départ</th>
    <th>Lieu de départ</th>
    <th>Lieu de destination</th>
    <th>Nombres de voyageurs</th>
  </thead>
  <tbody>
    <td class="row"></td>
  </tbody>
</table>

<h5>Historique</h5>
<table class="table table-striped">
    <thead>
      <th>Date / heure de départ</th>
      <th>Lieu de départ</th>
      <th>Lieu de destination</th>
      <th>Nombres de voyageurs</th>
    </thead>
</table>
<tbody>
    <td class="row"></td>
  </tbody>
</div>
